@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  font-family: 'Lexend Deca', 'Lexend', sans-serif;
  background-color: #c5dcc2;
}

.container > h1 {
  color: #186f65;
  user-select: none;
}

.container {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  width: 662px;
  height: 603px;
  background-color: white;
  border-radius: 36px;
}

.input-field-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.input-label {
  padding-left: 100px;
}
